@import url();
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh ;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.wrapper{
    background: #fff;
    width: 420px;
    padding: 30px;
    border-radius: 8px;
}
.wrapper header{
    font-size: 30px;
    font-weight: 500px;
    text-align: center;
    text-decoration: underline;
}
.wrapper form{
    margin: 35px 20px 20px 0; /* top-right-down-left*/  
}
form :where(input,select){
    outline: none;
    border-radius: 7px;
    border:none;
}
form p{
    font-size: 22px;
    font-weight: 400px;
    margin-bottom: 5px;
}
form input{
    width:45%;
    height: 40px;
    font-size: 20px;
    padding: 0 10px;
    border: 1px solid black;
    float: left;
    margin-bottom: 20px;
}
form input:last-child{
    float: right;
}
form input:focus{  /* when clicked on this input box will do these things */  
     border: 2px solid #5c4dff;
}
form .country{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.country .select-box{
    display: flex;
    width: 155px;
    height: 45px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
}
.select-box select{
    width: auto;
    font-size: 18px;
    font-weight: 300;
    margin: 0 5px 0 5px;
    cursor: pointer;
}
.select-box img{
    max-width: 45px;
}

.country .swap{
    cursor: pointer;
    margin-top: 30px;
    font-size: 25px;
}

form .exchangeRates{
    font-size: 18px;
    margin-bottom: 30px;
    color:rgb(102, 102, 215)
}

@media only screen and (max-width: 540px) {
    .wrapper{
        width: 300px;
        padding: 20px;
    }
    .wrapper header{
        font-size: 22px;
    }
    .wrapper form{
        margin: 22px 20px 20px 0; /* top-right-down-left*/  
    }
    form p{
        font-size: 18px;
    }
    .country .select-box{
        width: 108px;
        height: 35px;
    }
    .select-box select{
        font-size: 15px;
    }
    .select-box img{
        max-width: 27px;
    }
    .country .swap{
        font-size: 21px;
    }
    form input{
        height: 30px;
        font-size: 17px;
        margin-bottom: 16px;
    }
    form .exchangeRates{
        font-size: 16px;
        margin-bottom: 20px;
    }
}